# Environment Variables & Secrets
.env
*.env

# Virtual Environments
exam_env/
venv/
env/
ENV/

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

# Local Database Files
*.sqlite3
db.sqlite3

# Static & Media local uploads
media/

# Logs & Operating System Files
*.log
.DS_Store
Thumbs.db

# IDE & Editor Configurations
.vscode/
.idea/
*.swp
*.swo